@page "/upload"
@using System.Collections.ObjectModel
@using MeterDataLib.Storage
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject MeterKloudClientApi Api

<MudContainer Fixed Class="px-6 py-4" MaxWidth="MaxWidth.ExtraExtraLarge">

    <MudStack Spacing="0" Class="pb-4">
        <MudStack Row>
            <MudIcon Icon="@Icons.Material.Filled.CloudUpload" Size="Size.Large"></MudIcon>
            <MudText Typo="Typo.h1" Color="Color.Dark">Upload Meter Data</MudText>
        </MudStack>

        <MudText Typo="Typo.h2" Class="mud-text-secondary">Upload meter data in a variety of formats.</MudText>
    </MudStack>



    <div style="display:@( ( _state == InternalState.GetFiles ? "block" : "none") )">

        <MudContainer MaxWidth="MaxWidth.ExtraLarge" >
            <UploadPageGetFiles OnFilesSelected="OnFilesSelected" @ref=UploadPageGetFiles />
        </MudContainer>

    </div>

    @if (_state == InternalState.UploadFiles || _state == InternalState.Completed)
    {
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">

             <MudDataGrid ReadOnly="true" Items="@_items" Height="50vh" Virtualize Bordered Dense Striped HorizontalScrollbar>
                <Columns>
                    <PropertyColumn Property="zz=>zz.FileName" Title="File" />
                    <PropertyColumn Property="zz=>zz.FileSizeFormatted" Title="Size" />
                    <PropertyColumn Property="zz=>zz.Format" Title="Format" />
                    <TemplateColumn Title="Status" T="MeterDataFile">
                        <CellTemplate>
                            @if (context.Item.InProgress)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
                            }
                            else if (!context.Item.Parsed)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Pending" Size="Size.Small" Color="Color.Primary"></MudIcon>

                            }

                            else if (context.Item.Success && context.Item.Warnings > 0 )
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Warning" Size="Size.Small" Color="Color.Warning"></MudIcon>
                

                            }

                            else if (context.Item.Success)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Size="Size.Small" Color="Color.Success"></MudIcon>

                            }
                            else
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Error" Size="Size.Small" Color="Color.Error"></MudIcon>
                            }


                            @if( context.Item.ParserResult != null && context.Item.ParserResult.LogMessages.Count > 0)
                            {
                                <MudButton Color="Color.Primary" Variant="Variant.Text" OnClick="() => ShowLog(context.Item)">View Log</MudButton>
                            }

                        </CellTemplate>
                    </TemplateColumn>



                    <PropertyColumn Property="zz=>zz.ProcessingStatus" Title="Status" />
                    <PropertyColumn Property="zz=>zz.Errors" Title="Errors" />
                    <PropertyColumn Property="zz=>zz.SiteName" Title="Sites" />
                    <PropertyColumn Property="zz=>zz.Days" Title="Days" />
                    <PropertyColumn Property="zz=>zz.DataPoints" Title="Data Points" />

                </Columns>
            </MudDataGrid>
            <MudToolBar>
                <MudButton Color="Color.Info" Variant="Variant.Filled" OnClick="UploadMoreFiles" Disabled="this.UploadMOreDisabled" Class="px-3 mx-3">Upload Files</MudButton>
                <MudButton Color="Color.Info" Variant="Variant.Filled" Href="/sites" Disabled="this.ViewDataDisabled" Class="px-3 mx-3">View Data</MudButton>
                <MudSpacer></MudSpacer>
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="CancelUpload" Disabled="this.CancelButtonDisabled" Class="px-3 mx-3">Cancel</MudButton>

            </MudToolBar>
        </MudContainer>
    }


</MudContainer>


