<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">@PageTitle</MudText>
    </TitleContent>
    <DialogContent>

        <MudPaper Class="d-flex flex-column flex-grow-1 gap-0 pa-3 " Elevation="0" MinHeight="50vh" Height="50vh"  style="background-color: var(--mud-palette-dark-lighten);color: #fff;">
            <MudText Typo="Typo.caption" Style="font-weight:bold;color::white">
                    <span style="display: inline-block;width:85px">Date</span>
                    <span style="display: inline-block;width:60px">Level</span>
                    <span style="display: inline-block;width:60px">Line/Col</span>
                    <span style="display: inline-block;">Message</span>
               
            </MudText>
            <MudText Typo="Typo.caption" Style="font-weight:bold;color::white">
                <span style="display: inline-block;width:85px">------------</span>
                <span style="display: inline-block;width:60px">-------</span>
                <span style="display: inline-block;width:60px">----------</span>
                <span style="display: inline-block;">-------------------------------------------------</span>
            </MudText>

           
            <Virtualize TItem="MeterDataLib.Parsers.FileLogMessage" Items="LogMessages">

                

                <MudText Typo="Typo.caption" Style="@ColorStyle(context)">
                    <span style="display: inline-block;width:85px">@($"{context.TimeStamp:HH:mm:ss.fff}")</span>
                    <span style="display: inline-block;width:60px">@($"{context.LogLevel}")</span>
                    <span style="display: inline-block;width:60px">@($"[{context.LineNumber}/{context.ColumnNumber}]")</span>
                    <span style="display: inline-block;">@context.LogMessage</span>
               
                </MudText>
            </Virtualize>
        </MudPaper>

    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="SubmitOnClick">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = default!;


    [Parameter]
    public string Filename { get; set; } = string.Empty;

    [Parameter]
    public List<MeterDataLib.Parsers.FileLogMessage> LogMessages { get; set; } = new();



    private string PageTitle => $"Log for file: {Filename}";

  

    string ColorStyle(MeterDataLib.Parsers.FileLogMessage message)
    {
        switch(message.LogLevel)
        {
            case  LogLevel.Error:
            case LogLevel.Critical:
                return "color:lightpink";
            case  LogLevel.Warning:
                return "color:yellow";
            default:
                return "color:white";
        }
    }


    private void SubmitOnClick()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }


}
